/* src/Footer.css */
footer {
  background-color: #2C2C2C;
  color: #fff;
  width: 100%;
  padding: 50px;
  margin-top: 50px; /* Faz o footer ficar na parte inferior */
  box-sizing: border-box;
}

.footer-content {
  display: flex;
  align-items: center; /* Alinha verticalmente a logo e o texto */
  justify-content: center; /* Centraliza todos os itens no footer */
  width: 80%; /* Mantém o conteúdo centralizado */
  margin: 0 auto; /* Centraliza o conteúdo do footer */
}

.footer-logo {
  margin-right: 20px; /* Espaço entre a logo e o texto */
}

.footer-logo img {
  max-width: 100px; /* Define a largura máxima da logo */
  height: auto; /* Mantém a proporção da imagem */
}

.footer-links {
  display: flex; /* Usar flexbox para colocar Menu e Nos Encontre lado a lado */
  margin-left: 20px; /* Adiciona um pequeno espaço à esquerda */
}

.footer-menu,
.footer-contact {
  margin: 0 40px; /* Espaço entre as seções */
}

.footer-content h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.footer-content ul {
  list-style: none;
  padding: 0;
}

.footer-content ul li {
  margin: 5px 0;
}

.footer-content ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.4s; /* Efeito ao passar o mouse */
}

.footer-content ul li a:hover {
  color: #B9FF66; /* Cor ao passar o mouse */
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  font-size: 13px; /* Ajusta a fonte da seção inferior */
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column; /* Muda para coluna em telas menores */
    align-items: center; /* Centraliza os itens em telas menores */
  }
  
  .footer-logo {
    margin-right: 0; /* Remove o espaço à direita em telas menores */
    margin-bottom: 10px; /* Adiciona espaço abaixo da logo */
  }

  .footer-menu,
  .footer-contact {
  margin-bottom: 20px;
  align-items: center; /* Alinha verticalmente a logo e o texto */
  justify-content: center; /* Centraliza todos os itens no footer */
  max-width: 50%;
}

  .footer-links {
    flex-direction: column; /* Coloca Menu e Nos Encontre em coluna */
    flex-direction: flex; /* Coloca Menu e Nos Encontre em coluna */
    align-items: center; /* Centraliza os itens */
  }
}