/* src/components/NavBar.css */

/* Reset básico para remover margens e paddings padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo para o header e navegação */
header {
  background-color: #fff;
  color: #666;
  position: fixed; /* Mantém o header fixo */
  width: 100%;
  top: 0;
  z-index: 1000; /* Garante que o header fique acima de outros elementos */
  height: 70px; /* Defina a altura do header aqui se não estiver */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adicionar sombra na parte inferior */
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 0 20px;
  height: 70px; /* Altura do header */
}

.header a {
  color: white; /* Cor dos links */
  padding: 10px;
  text-decoration: none;
}

nav {
  width: 100%; /* Preencher a largura total do header */
  display: flex; /* Usar flexbox para layout */
  justify-content: center; /* Centraliza o conteúdo */
}

.logo img {
  height: 40px; /* Altura da logo */
}

.menu {
  list-style: none; /* Remover marcadores de lista */
  display: flex; /* Usar flexbox para os links */
}

.menu li {
  margin-left: 20px; /* Espaçamento entre links */
}

.menu a {
  color: #666; /* Cor dos links */
  text-decoration: none; /* Remover sublinhado */
  font-size: 16px; /* Tamanho da fonte dos links */
  position: relative; /* Necessário para o pseudo-elemento */
}

.menu a::after {
  content: ''; /* Necessário para o pseudo-elemento */
  display: block; /* Faz o pseudo-elemento ocupar espaço */
  width: 0; /* Começa com largura 0 */
  height: 1px; /* Altura do sublinhado */
  background: #666; /* Cor do sublinhado */
  transition: width 0.4s ease; /* Transição suave da largura */
  position: absolute; /* Posiciona o pseudo-elemento */
  left: 0; /* Alinha à esquerda */
  bottom: -5.5px; /* Posiciona abaixo do texto */
}

.menu a:hover::after {
  width: 100%; /* A largura do sublinhado se expande para 100% ao passar o mouse */
}
/* Responsividade */
@media (max-width: 768px) {
  .nav-content {
    flex-direction: column; /* Coloca os itens em coluna */
    align-items: flex-start; /* Alinha os itens à esquerda */
    height: auto; /* Altura automática para se ajustar ao conteúdo */
  }

  .menu {
    flex-direction: column; /* Coloca os links em coluna */
    width: 100%; /* Largura total */
  }

  .menu li {
    margin-left: 0; /* Remove o espaçamento à esquerda */
    margin-bottom: 10px; /* Adiciona espaçamento inferior */
  }

  .logo img {
    margin-bottom: 10px; /* Adiciona espaçamento inferior à logo */
  }
}