/* src/components/Home.css */

body {
  margin: 0 auto;
  font-family: Arial, sans-serif;
  margin-top: 70px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f0f0f0; /* Cor de fundo opcional */
  margin: 0 auto;
  max-width: 80%;
}

.hero-text {
  max-width: 50%; /* Limite a largura do texto */
}

.hero-image img {
  max-width: 100%; /* Imagem responsiva */
  height: auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 81%;
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  flex: 1 1 calc(45% - 20px); /* Responsividade */
}

.card-content {
  display: flex;
}

.card-text {
  flex: 1;
}

.card-image img {
  max-width: 100px; /* Ajuste conforme necessário */
  height: auto;
}

.reserve-button {
  background-color: #4CAF50; /* Verde */
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
}
