body {
  color: #333;
}

.about-container {
  padding: 20px;
  max-width: 80%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.about-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.about-container p {
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: 1.6;
}

.about-container .reserve-button {
  display: block;
  margin: 50px auto;
  background-color: #191A23;
  color: white;
  border: none;
  padding: 15px 25px;
  cursor: pointer;
  text-align: center;
}

.reserve-button:hover {
  background-color: #444;
}