* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  margin-top: 70px;
}

.hero {
  background-color: #ffffff;
  max-width: 100%;
}

.hero-contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 80%;
}

.hero-contents p {
  letter-spacing: 0.2px;
  line-height: 1.75;
}

.hero-text {
  max-width: 36%;
  text-align: left;
  color: #333;
}

.hero-image {
  width: 64%;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 81%;
  margin-top: 40px;
}

.card {
  border: 1px solid #191A23;
  border-radius: 30px;
  margin: 10px;
  padding: 40px;
  flex: 1 1 calc(45% - 20px);
  display: flex;
  flex-direction: column;
  min-height: 250px;
  position: relative;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
}

.card-text {
  flex: 0 1 60%;
  letter-spacing: 0.2px;
}

.card-image {
  flex: 0 1 35%;
  margin-left: 40px;
}

.card-image img {
  max-width: 100%;
  height: auto;
}

.card h2 {
  font-size: 2rem;
  margin-bottom: 5%;
}

.card p {
  font-size: 0.9rem;
  margin: 0;
}

.card a {
  position: relative;
  margin-top: 5px;
  text-align: right;
  color: #333;
  text-decoration: none;
}

.card a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.card a:hover::after {
  transform: scaleX(1);
}

.hero-button {
  margin-top: 0;
  display: flex;
  justify-content: flex-start !important;
  width: 100%;
}

.reserve-button {
  background-color: #191A23 !important;
  color: white !important;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.reserve-button:hover {
  background-color: #444 !important;
}

.reserve-button:focus {
  background-color: #191A23;
  outline: none;
}

@media (max-width: 768px) {
  body {
    margin-top: 150px;
  }

  .hero-contents {
    flex-direction: column;
    align-items: center;
  }

  .hero-text {
    max-width: 100%;
    text-align: center;
  }

  .hero-image {
    display: none;
  }

  .hero-button {
    margin-bottom: 0;
  }

  .card {
    padding: 40px;
    flex: 1 1 100%;
    margin: 10px 0;
  }

  .card-image {
    display: none;
  }

  .card-text {
    flex: 0 1 100%;
    letter-spacing: 0.2px;
  }
}