/* src/App.css */

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Faz o container ocupar a altura total da tela */
}

main {
  flex: 1; /* Faz o main ocupar o espaço restante */
  padding: 20px; /* Padding geral */
  padding-top: 100px; /* Altura do header */
  margin-bottom: 0; /* Altura do footer */
  width: 80%; /* Mantém a largura do conteúdo */
  margin: 0 auto; /* Centraliza o conteúdo */
} 

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Remover padding-top duplicado */
.App main {
  width: 80%; /* Ajuste para que o main tenha sempre 80% de largura */
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.hero-text {
  flex: 1;
  padding: 20px;
}

.hero-image {
  flex: 1;
  padding: 20px;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Ajustado para dar mais espaço */
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  flex: 1 1 calc(33.333% - 40px); /* Três cartões por linha com espaçamento */
  box-sizing: border-box;
}

/* Responsividade */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
  }

  .hero-text, .hero-image {
    padding: 10px;
  }

  .cards {
    padding: 10px; /* Menor padding em telas menores */
  }

  .card {
    flex: 1 1 calc(50% - 20px); /* Dois cartões por linha em telas menores */
  }
}

@media (max-width: 480px) {
  .hero {
    flex-direction: column;
  }

  .hero-text, .hero-image {
    padding: 5px;
  }

  .cards {
    padding: 5px; /* Menor padding em telas muito pequenas */
  }

  .card {
    flex: 1 1 100%; /* Um cartão por linha em telas muito pequenas */
  }

  .App main {
    width: 100%; /* Ajuste para telas muito pequenas */
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}